<!DOCTYPE html>
{% load staticfiles %}
{% load markup_tags %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Aneesh Kotnana</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
</head>
<body class="test" id="hello">

	<div id="overlay-back"></div> 
	<header class="header banner indigo z-depth-1">
		<img src="{% static 'images/image.png' %}" alt="" class="responsive-img">
		<h1 style="font-size: 32px;">3D Area Mapping and Pathfinding using Autonomous Swarm Robots</h1>

		<p>Aneesh Kotnana (Automation and Robotics Lab) and Neil Thistlethwaite (Computer Systems Lab)</p>
	</header>
	<main>
		<div class="row">
            	<!--
                <div class="col hide-on-small-only m3 l2">
                    <div class="toc-wrapper">
                        <div style="position: relative; height: 1px">
                            <ul class="section table-of-contents">
                                <li><a href="#description">Description</a></li>
                                <li><a href="#details">Details</a></li>
                                <li><a href="#components">Components</a></li>
                                <li><a href="#code">Code</a></li>
                                <li><a href="#logs">Logs</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#discussion">Discussion</a></li>
                                <li><a href="#contact">Contact Me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
          -->
          <div class="toc-wrapper">
           <div style="height: 1px;">
                <ul class="section table-of-contents">
                     <li><a href="#description">Description</a></li>
                     <li><a href="#details">Details</a></li>
                     <li><a href="#components">Components</a></li>
                     <li><a href="#code">Code</a></li>
                     <li><a href="#logs">Logs</a></li>
                     <li><a href="#gallery">Gallery</a></li>
                     <li><a href="#discussion">Discussion</a></li>
               </ul>
         </div>
   </div>

   <div class="col s12 m9 offset-m3 l10 offset-l2">
     <div id="description" class="section scrollspy" style="margin-right: 2em">
          <h2 class="header indigo-text lighten-1 section-title">
               <span>Description</span>
         </h2>
         <p class="flow-text">
               &emsp;Automated area mapping has been a subject of intense robotic research for years, given its real-world applications in problems such as robotic search-and-rescue and exploration of areas unsafe for humans. Currently, much research has been conducted on 2D and 3D area mapping in single robot systems, but one area specifically that has not been researched much is the use of multiple robots in the automated 3D mapping problem - a swarm robotics approach.
         </p>
         <p class="flow-text">
               &emsp;For my project, I will create three small, mobile swarm robots and equip them with stereo vision cameras, with Raspberry Pis serving as the secondary control system and managing and processing the output from the cameras. Communication with the Raspberry Pis will be established using a local area network (LAN) created from a router. A central processing system will aggregate all the data from the Raspberry Pis. Ultimately, the goal is to create software that will efficiently navigate the robots through an area and map a 3D field representation of the area.
         </p>
   </div>



   <div id="details" class="section scrollspy" style="margin-right: 2em">

    <h2 class="header indigo-text lighten-1 section-title">
         <span>Details</span>
   </h2>

   <h5 class="header indigo-text darken-3 center" style="font-size: 24px;">Initial sketches</h5>
   <img class="container materialboxed" src="{% static 'images/initialSketches.png' %}" alt="">
</div>


<div id="components" class="section scrollspy" style="margin-top: 2em; margin-right: 2em">
    <h2 class="header indigo-text lighten-1 section-title">
         <span>Components</span>
   </h2>


   <div class="collection" style="margin-top: 2em; margin-bottom: -1em">
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Arducam Multi Camera Module (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$149.97</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Raspberry Pi Camera Module V2 (x6)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$149.94</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Raspberry Pi (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$89.85</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Logisaf 24 Circuit Slip Ring (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$74.97</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Aibocn Mini Power Bank (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$29.99</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">Raspberry Pi Flex Cable 4" (x6)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$11.70</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">TE Connectivity AMP Connector BOTTOM (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$6.96</a></div></ul>
         <ul class="collection-item flow-text"><div style="color:#000000; font-size: 16px;">TE Connectivity AMP Connector TOP (x3)<a target="_blank" href="https://fcps.tjhsst.edu/coursemgmt/courses/300/" class="secondary-content">$2.61</a></div></ul>							
   </div>

</div>

<div id="code" class="section scrollspy" style="margin-top: 2em; margin-right: 2em">
    <h2 class="header indigo-text lighten-1 section-title" style="margin-bottom: 1em;" >
         <span>Code</span>
   </h2>

   <script src="http://gist-it.appspot.com/https://github.com/Alaska47/seniorresearch/blob/master/seniorresearch/views.py"></script>

   <script src="http://gist-it.appspot.com/https://github.com/Alaska47/seniorresearch/blob/master/seniorresearch/urls.py"></script>

</div>




<div id="logs" class="section scrollspy" style="margin-right: 2em">
    <h2 class="header indigo-text lighten-1 section-title">
         <span>Logs</span>
   </h2>


   <div class="" style="margin-top: 2em; margin-bottom: -1em">
         <div class="row">
              {% for log in logs %}
              <a class="modal-trigger" onclick='disableScrollbar();' href="#{{ log.modal }}">
                   <div class="col s6 m4 waves-effect waves-block waves-light">
                        <div class="card-panel indigo">
                             <span class="center white-text" style="font-size: 20px">
                                  {{ log.title }}
                            </span>
                      </div>
                </div>
          </a>
          <div tabindex="-1" id="{{ log.modal }}" class="modal modal-fixed-footer">
             <div class="modal-content">
                  <h4>{{ log.title }}</h4>
                  <p style="font-size: 10px">{{ log.created_date }}</p>

                  {% autoescape off %}{{ log.text}}{% endautoescape %} 
            </div>
            <div class="modal-footer">
                  <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
            </div>
      </div>
      {% endfor %}
            				<!--
            				<a class="modal-trigger" onclick='disableScroll();' href="#modal1">
            					<div class="col s6 m4 waves-effect waves-block waves-light">
            						<div class="card-panel teal">
            							<span class="center white-text" style="font-size: 24px">
            								Progress Report: 9/4-9/8
            							</span>
            						</div>
            					</div>
            				</a>
            				<div id="modal1" class="modal modal-fixed-footer">
            					<div class="modal-content">
            						<h4>Progress Report: 9/4-9/8</h4>
            						<p>A bunch of text</p>
            					</div>
            					<div class="modal-footer">
            						<a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
            					</div>
            				</div>-->

            			</div>
            		</div>
            	</div>

            	<div id="gallery" class="section scrollspy" style="margin-right: 2em">
            		<h2 class="header indigo-text lighten-1 section-title">
            			<span>Gallery</span>
            		</h2>

            		<div class="slider" style="margin-top: 2em; margin-bottom: 1em">
            			<ul class="slides">
            				<li>
            					<img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/03/high-resolution-wallpapers-25.jpg"> <!-- random image -->
            					<div class="caption center-align">
            						<h3>This is our big Tagline!</h3>
            						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            					</div>
            				</li>
            				<li>
            					<img src="http://www.qygjxz.com/data/out/109/4447677-high-resolution-pictures.jpeg"> <!-- random image -->
            					<div class="caption left-align">
            						<h3>Left Aligned Caption</h3>
            						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            					</div>
            				</li>
            				<li>
            					<img src="http://ahdzbook.com/data/out/109/hdwp695644424.jpg"> <!-- random image -->
            					<div class="caption right-align">
            						<h3>Right Aligned Caption</h3>
            						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            					</div>
            				</li>
            				<li>
            					<img src="https://livewallpaper.info/wp-content/uploads/2016/11/wallpapers-High-Resolution-Download7.jpg"> <!-- random image -->
            					<div class="caption center-align">
            						<h3>This is our big Tagline!</h3>
            						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            					</div>
            				</li>
            			</ul>
            		</div>

            	</div>

            	<div id="discussion" class="section scrollspy" style="margin-right: 2em">
            		<h2 class="header indigo-text lighten-1 section-title">
            			<span>Discussion</span>
            		</h2>

            		<div id="disqus_thread"></div>
            		<script>

							/**
							*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
							/*
							var disqus_config = function () {
							this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
							this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							*/
							(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');
								s.src = 'https://robo-akotnana-com.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

					</div>

				</div>
			</main>
			<footer class="page-footer indigo">
				<div class="footer-copyright">
					<div class="container">
						Made by Aneesh Kotnana
					</div>
				</div>
			</footer>
			<!--  Scripts-->
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="{% static 'js/progressbar.min.js' %}"></script>
			<script src="{% static 'js/materialize.js' %}"></script>
			<script src="{% static 'js/init.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			<script id="dsq-count-scr" src="//robo-akotnana-com.disqus.com/count.js" async></script>
		</body>
		</html>

